<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @entry.name %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @entry.completed %>
</p>

<%= link_to 'Edit', edit_list_entry_path(@entry) %> |
<%= link_to 'Back', list_entries_path %>
